div[role="group"][tabindex] {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.layout {
	padding: 0;
	margin: 0;
	flex: 1;
}

.container {
	max-width: $huge;
	margin: 0 auto;
}

.header {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 150px;
	}
	nav {
		min-width: 480px;
		display: flex;
		justify-content: space-between;
		a {
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 300;
			letter-spacing: 0.06em;
			&:hover {
				opacity: 0.7;
			}
			&[aria-current="page"] {
				font-weight: 400;
			}
		}
	}
}

.hero {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	display: flex;
    flex-direction: column;
	justify-content: space-evenly;
	min-height: 450px;
	h1 {
		font-family: $font-family-secondary;
		font-size: 85px;
		font-weight: normal;
	}
	p {
		text-transform: uppercase;
		color:#8D8D8D;
		letter-spacing: 0.215em;
		font-size: 20px;
		font-weight: 300;
	}
}

.footer {
	width: 100%;
	min-height: 100px;
	background: #000;
	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		p, a {
			color: #fff;
		}
		nav {
			min-width: 350px;
			display: flex;
			justify-content: space-between;
			a {
				font-size: 16px;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 0.06em;
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}

